* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #0a0f1f;
  color: white;
}

/* NAV */
.nav {
  position: fixed;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  background: #0a0f1f;
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 120px;
  border-radius: 50%;
}

.hero-content {
  text-align: center;
}

#title {
  font-size: 30px;
  color: #4f9cff;
}

/* SECTION */
.section {
  padding: 100px 20px;
  max-width: 1000px;
  margin: auto;
}

/* BOX */
.box {
  background: #111827;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
}

/* STAGE */
.stage-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.stage {
  background: #111827;
  padding: 20px;
  border-radius: 10px;
}

.date {
  font-size: 12px;
  color: #9ca3af;
}

.duration {
  font-size: 13px;
  color: #6b7280;
}

.skills {
  font-size: 13px;
  color: #9ca3af;
  margin-top: 10px;
}
