* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #050816;
  color: white;
}

/* NAV */
.nav {
  position: fixed;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  background: rgba(10,10,20,0.9);
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav a {
  color: #cbd5e1;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-box {
  text-align: center;
}

.avatar {
  width: 120px;
  border-radius: 50%;
}

.title {
  font-size: 28px;
  color: #38bdf8;
}

/* SECTIONS */
.section {
  padding: 100px 20px;
  max-width: 1000px;
  margin: auto;
}

/* CARD */
.card {
  background: #0b1220;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
}

/* TIMELINE */
.timeline {
  border-left: 2px solid #38bdf8;
  margin-top: 40px;
  padding-left: 20px;
}

.timeline-item {
  margin-bottom: 40px;
  position: relative;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -10px;
  width: 12px;
  height: 12px;
  background: #38bdf8;
  border-radius: 50%;
}

.timeline-date {
  font-size: 13px;
  color: #94a3b8;
}

.stage-duration {
  font-size: 13px;
  color: #64748b;
}

.skills {
  margin-top: 10px;
  color: #94a3b8;
}

/* ANIMATION */
.hidden {
  opacity: 0;
  transform: translateX(-30px);
  transition: 0.6s;
}

.show {
  opacity: 1;
  transform: translateX(0);
}
